*{
    box-sizing: border-box;
    
}
body{
    background-color: rgb(146, 146, 146);
}
.card-nova-receita{
    margin-top: 50px;   

}
.card{
    width:95%;
    margin: auto;
    border: 3px solid black;
    background-color: rgb(240, 234, 234);
}

